<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="TagFinderOptionsGroup">
      <section name="MakeButtonFinderOptions" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"></section>
      <section name="MakeButtonTagContainer" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </sectionGroup>
    <sectionGroup name="TagFinderCustomOptions">
      <section name="BootstrapCustomOption" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </sectionGroup>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="PathToFiles" value="..\..\..\FilesToProcess" />
    <add key="ReadFilesFromFolder" value="true"/>
  </appSettings>

  <!-- configuration sections for tag finder options -->
  <!-- key is attribyte type, value is value we are looking for-->
  <TagFinderOptionsGroup>
    <MakeButtonFinderOptions>
      <add key="text" value="OK" />
      <add key="href" value="#ok" />
      <add key="title" value="Make-Button" />
      <add key="id" value="make-everything-ok-button" />
      <add key="class" value="btn-success" />
    </MakeButtonFinderOptions>
    <MakeButtonTagContainer>
      <add key="tag" value="a" />
    </MakeButtonTagContainer>
  </TagFinderOptionsGroup>

  <TagFinderCustomOptions>
    <BootstrapCustomOption>
      <add key="attribute" value="class" />
      <add key="pattern" value="btn-" />
      <add key="validator" value="btn-success" />
    </BootstrapCustomOption>
  </TagFinderCustomOptions>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.11.7.0" newVersion="1.11.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
